parameters:
  level: 8
  paths:
    - src
  ignoreErrors:
    - '#has parameter \$.* with no value type specified in iterable type array#'
    - '#return type has no value type specified in iterable type array#'
